# Archivo de ejemplo para configuración local.
# RENOMBRA o COPIA este archivo a '.env' y sustituye los valores.
# El archivo '.env' real NUNCA debe subirse a Git.

MYSQL_ROOT_PASSWORD=usuario_root_ejemplo
MYSQL_DATABASE=gymtrack_v2
MYSQL_USER=usuario_ejemplo
MYSQL_PASSWORD=password_ejemplo
