# Archivo de ejemplo para configuración local.
# RENOMBRA o COPIA este archivo a '.env' y sustituye los valores.

MYSQL_ROOT_PASSWORD=usuario_root_ejemplo
MYSQL_DATABASE=gymtrack_v2
MYSQL_USER=usuario_ejemplo
MYSQL_PASSWORD=password_ejemplo
JWT_SECRET_KEY=clave_secreta_jwt_para_desarrollo_local
GROQ_API_KEY=gsk_tu_api_key_de_groq_aqui
